.post {
  margin-left: 15%;
  .BackIcon {
    margin-top: 4%;
  }
  h1 {
    font-size: 56px;
    margin-top: 2%;
  }
  .aboutBook {
    display: flex;

    flex-direction: row;
    align-items: flex-end;
    img {
      margin-right: 15%;
      margin-top: 4%;
      background-color: rgb(255, 225, 225);
      width: 430px;
      height: 500px;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 290px;
      margin-bottom: 5%;
      span {
        color: rgb(157, 157, 157);
        font-size: 25px;
      }
      .price {
        font-size: 40px;
        line-height: 60px;
        font-family: "Bebas Neue", sans-serif;
      }
    }
    .inf {
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 25px;
      margin-bottom: 5%;
    }
  }
  .cart {
    background-color: #313037;
    color: white;
    width: 210px;
    font-size: 20px;
    margin-right: 5px;
  }
  .favorite {
    background-color: #313037;
    color: white;
    width: 210px;
    font-size: 20px;
  }
  h2 {
    margin-top: 5%;
    font-size: 32px;
  }
  .similarBooks {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    img {
      background-color: rgb(255, 225, 225);
    }
    .similarBook {
      margin: 5%;
    }
  }
}
