.header {
  margin-left: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  margin-top: 2%;
  border-bottom: 2px solid;
  border-color: rgb(211, 211, 211);
  padding-bottom: 15px;
}
.icons {
  display: flex;
  width: 150px;
  justify-content: space-around;
}
